input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 110px;
    
}

input[type=text], input[type="number"], input[type="datetime-local"], input[type="password"] {
    width: 50%;
    padding: 8px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    color: black;
}

label{
    color: blue;
    margin-top: 13px;
    margin-right: 10px;
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
}
